#title {
    background-image: linear-gradient(to right, darkblue , lightblue) !important;
    box-shadow: 10px 5px 5px rgb(0, 0, 4);
    color:black;
    font-weight: 1000;
    text-align: center;
}

.h1 {
    font-size: 9px !important;
}
